@charset "UTF-8";
/*
    DESARROLLADO POR:
    Mario Ramírez
*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Ubuntu:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu";
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

p {
  font-family: "Raleway";
}

ul li {
  list-style: none;
  display: inline-block;
}

.container_index {
  display: flex;
  width: 100%;
  height: 80vh;
  align-items: center;
  justify-content: center;
}
.container_index h1 {
  font-family: "Raleway";
  font-size: 3rem;
}

.bannerIndex {
  display: flex;
  width: 40%;
  height: 90%;
  justify-content: center;
  align-items: center;
}
.bannerIndex img {
  width: 80%;
  border-radius: 20px 0 20px 0;
}

.txt_index {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}
.txt_index .social_networks {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}
.txt_index .social_networks a {
  padding: 1%;
}
.txt_index .social_networks .btn {
  color: #fff;
  background: #20C3D6;
  padding: 15px;
  margin: 8%;
  font-size: 2em;
  border-radius: 50%;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
  transition: 0.5s all;
}
.txt_index .social_networks .btn:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
  transition: 0.5s all;
  color: #20C3D6;
  background: #fff;
}

.down {
  position: absolute;
  bottom: 3%;
  z-index: 0;
}
.down a {
  color: #1C1C1C;
  font-size: 6vh;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  transition: 0.5s all;
}
.down a:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
  transition: 0.5s all;
  color: #20C3D6;
}

/*RESPONSIVE*/
@media (max-width: 1000px) {
  .container_index {
    flex-direction: column;
    padding: 25px;
  }

  .bannerIndex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bannerIndex img {
    width: 100%;
  }

  .txt_index h1 {
    font-size: 2.5em;
  }
}
.menu {
  position: relative;
  width: 100%;
  height: 20vh;
  transition: 0.3s;
}
.menu .img_principal {
  position: absolute;
  left: 8%;
  width: 20%;
  transition: 0.3s all;
  visibility: "";
}
.menu .swap {
  width: 10%;
  visibility: hidden;
  z-index: 2;
  position: fixed;
  margin-left: 5%;
}
.menu .menu_principal {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  background: #20C3D6;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
}
.menu .menu_principal a {
  color: #fff;
  padding: 10px 20px 10px 20px;
  text-align: center;
  transition: 0.5s ease-out;
}
.menu .menu_principal a:hover {
  transition: 0.5s all;
  background: #fff;
  color: #20C3D6;
  border-radius: 30px;
}

.swap_menu {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 10%;
  padding: 15px;
  background: #20C3D6;
  z-index: 1;
  border-radius: 0 0 20px 20px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}
.swap_menu li {
  padding: 15px;
}
.swap_menu li a {
  color: #fff;
  padding: 15px;
}
.swap_menu li a:hover {
  color: #20C3D6;
  background: #fff;
  border-radius: 30px;
}

@media (max-width: 1000px) {
  .menu {
    display: none;
  }
}
.container_services {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 90%;
}

.card_services {
  color: white;
  width: 30%;
  height: 70%;
  background-color: #20C3D6;
  padding: 1%;
  border-radius: 30px 0 30px 0;
  align-items: center;
  justify-content: center;
}
.card_services .card_image {
  width: 80%;
  height: 600px;
}

/*# sourceMappingURL=style.css.map */
